{% extends 'site_app/base_page.html' %}

{% load static %}

{% block title %} ShoppingSite | ChangePasword{% endblock title %}

{% block content %}
<div class="container">
  <div class="row my-3">
      <div class="col-sm-6 offset-sm-3">
          <h3>Change Password</h3>
          <hr>

          <form class="p-5 shadow mb-4 bg-white rounded" method="POST" nonvalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <p style="color: red;">{{error}}</p>
              {% endfor %}
            {% endif %}

            {% if messages %}
              {% for message in messages %}
                <small {% if message.tags %} class="{{message.tags}} text-success" {% endif %}>{{message}}</small>
              {% endfor %}
            {% endif %}

            {% for fm in form %}
             <div class="p-2">{{fm.label_tag}}</div>
             <div>{{fm}} {{fm.errors | striptags}} </div>
             <br>
            {% endfor %}
              <p><input type="submit" value="Save" class="btn btn-success fw-bold">
                <a class="btn btn-primary" href="http://localhost:8000/site_app/myprofile_page/">Back</a>
          </form>
      </div>
  </div>
</div>
{% endblock content %}
