{% extends 'site_app/base_page.html' %}
{% load static %}
{% block title%} Signup {% endblock title %}

<!--This is use here to not print second navbar on signup page-->
{% block second-navbar %} {% endblock second-navbar %}

{% block content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <h3>Create Account</h3>
                <hr>
                <form action="#" method="POST" class="p-5 shadow mb-4 bg-white rounded" nonvalidate>
                  {% csrf_token %}

                  {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                      <p coass>{{error}}</p>
                    {% endfor %}
                  {% endif %}

                  {% for fm in form %}
                   <div class="p-2">{{fm.label_tag}}</div>
                   <div>{{fm}} {{fm.errors | striptags}} </div>
                   <br>
                  {% endfor %}
                  <br>
                  <input type="submit" value="Submit" class="btn btn-success">
                  <a class="btn btn-danger" href="http://localhost:8000/site_app/index_page">Cancel</a>
                </form>

                {% if message %}
                  {% for msg in messages %}
                  <small {% if msg.tags %} class="{{msg.tags}}"{% endif %}>{{msg}}</small>
                  {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
