<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'mycss/bookstyle.css' %}">
    <link rel="stylesheet" href="{% static 'javascript/books.js' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard</title>
</head>
<body>
      <div class="container pt-5">
        <div class="row p-4 shadow" style="border-top: 2px solid blue;">
            <div class="col" >
                <a class="btn" href="http://localhost:8000/site_app/myprofile_page">Go Dashboard</a>
                {% for fm in form %}
                    <div class="p-2">{{fm.label_tag}}</div>
                    <div>{{fm}} {{fm.errors | striptags}} </div>
                    <br>
                {% endfor %}
            </div>
        </div>
      </div>
    <!--Section counter end-->
</body>
</html>